*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: none;
    
}

@font-face {
    font-family: "Upheaval";
    src: url("../../FONT/upheavtt.ttf");
  }