.divs-shops {
  background-color: #1c063f;
  height: 800px;

  .shops-title {
    font-family: "Upheaval";
    font-size: 60px;
    color: white;
    margin-left: 300px;
    padding-top: 60px;
  }




}

.h2Shop {
    font-family: "Upheaval";
    font-size: 30px;
    color: white;
    margin-left: 300px;
    padding-top: 60px;
  }

